@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="user-info">
            Bonjour, @context.User.Identity.Name!
            <button class="btn btn-link" @onclick="BeginSignOut">Se déconnecter</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-link" @onclick="BeginSignIn">Se connecter</button>
    </NotAuthorized>
</AuthorizeView>
